@import "tailwindcss";

@keyframes fadeInScale {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeOutScale {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.95);
  }
}

.menu-open {
  animation: fadeInScale 0.3s ease-out forwards;
}

.menu-close {
  animation: fadeOutScale 0.3s ease-in forwards;
}
